<%= form_tag user_create_path, id: "my-form", method: :post do %>
  <label class="">Room name</label>
  <%= text_field_tag :room %>

  <input type="submit" value="Submit" class='btn btn-default' %>
<% end %>

