<div class = "full_body_white row ">
    <div class = "d-flex justify-content-center col-6">
        <div class = "row" style="align-content:center;">
            <input class="icon" id="icon_1"  name="icon" type="radio" value="1" checked="checked"/>
            <label for="icon_1"><img class="image_icon" src="<%= asset_path('icon1.png') %>"/></label>
        </div>
    </div>
</div>


