<div class="row">
    <% @answers.each do |answer| %>
        <div class="card">
            <div class="card-body">
                <img class="image" src="<%= asset_path('icon' + answer.icon.to_s + '.png') %>" />
                <%= answer.name %> 
            </div>
        </div>
    <% end %>
</div>