<% @answers.each do |answer| %>
<div class="col">
    <div class="card_general card">
        <div class="card-body">
            <img class="image_answer" src="<%= asset_path('icon' + answer.icon.to_s + '.png') %>" />
            <%= answer.name %> 
        </div>
    </div>
</div>
<% end %>