// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  padding: 0px;
}

.image-row{
  width: 100%;
}

.image {
  max-width: 15vh;
  max-height: 15vh;
}
#horizontal_logo{
    height: 4vh;
    width: 15vw;
}
.mini_icon{
    height: 3vh;
    width: 2vw;
}

.white-background {
    text-align: center;
    background-image: white;  
    background-color: white;
}

.gradient-background {
  background-image: linear-gradient(to right, #0b998e, #6bb96c); 
}

.row-fluid{
  height: 50%;
} 

.gradient-button {
  background-image: linear-gradient(to right, #0b998e, #6bb96c);  
  background-repeat: repeat-x;
  display: block;
  height: 8vh;
  width: 20vw;
  margin: 0 auto;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
}
#rCode{
    font-size: 30px;
    color: white;
}
#room_code{
    font-size: 90px;
    color: white;
}
#nplayers{
    font-size: 30px;
    color: #616160;
}
#minmax{
    font-size: 20px;
    color: #bbb9b9;
}
#qr{
    height: 20vh;
    width: 15vw;
}





.main-wrapper {
  height: 100vh;
  width: 100vw;
}

.section {
  height: 100%;  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.half {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}


.top_row{
    height: 20vh;
    align-content: center;
}
.mid_row{
    height: 65vh;
    width:100vw;
    align-content: center;
}
