.container-fluid {
    padding: 0px;
  }

.full_body_gradient {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#6bb96c,#0b998e);
    margin: 0 auto;
}
.main-row{
    height: 45vh;
    align-content: center;
}
.middle-row{
    height:15vh
}
.image_logo_big {
    width: 23vh;
    height: 23vh;
  }
#confirm_button{
    background-color: white;
    color: #616160;
    border-radius: 20px;
    height: 7vh;
    width: 65vw;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

#input_room_code{
    color: #616160;
    border-radius: 20px;
    height: 7vh;
    width: 65vw;
    text-align: center;
    font-size: 50px;
}