// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  padding: 0px;
}


.left {
  background-image: white;  
}

.right {
  background-image: linear-gradient(to right, #0b998e, #6bb96c);  
}

.main-wrapper {
  height: 100vh;
}

.section {
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.half {
  background: #f9f9f9;
  height: 50%;  
  width: 100%;
  margin: 15px 0;
}

