.card_general{
    height: 30vh;
    width: 26vh;
    background-color: #eeecec;
    box-shadow: 0.5vw 1vw 1.5vw #c6c6c6;
    border-radius: 2vw;
}
.card_specific{
    height: 27vh;
    width: 30vh;
    border-radius: 2vw;
}
.card-body{
    text-align: center;
    align-content: center;
    font-size: 2vw;
    color: black;
}
.image_answer{
    max-width: 17vh;
    max-height: 17vh;
    border-style: solid;
    border-width: 0.5vw;
    border-radius: 2vw;
    border-color: #0b998e;    
}

.image_icon_answer {
    width: 18vh;
    height: 18vh;
  }
