.image_icon_big{
    height: 35vh;
    width: 70vw;
    border-style: solid;
    border-width: 20px;
    border-radius: 20px;
    border-color: #0b998e;
}
.name_big{
    font-size: 100px;
    color: #616160;
}
.help_small{
    font-size: 50px;
    color: #bbb9b9;
}