.image_icon_big{
    height: 35vh;
    width: 70vw;
    border-style: solid;
    border-width: 3vw;
    border-radius: 5vw;
    border-color: #0b998e;
}
.name_big{
    font-size: 12vw;
    color: #616160;
}
.help_small{
    font-size: 6vw;
    color: #bbb9b9;
}