<div class="main-wrapper">
  <!-- Left side of the screen --> 
  <div class="col-xs-4 section left">
    <div class="half">
      <h3> Download the App </h3>
    </div>
    <div class="half">
      <img src="https://assets.econsultancy.com/images/resized/0002/4236/qr_code-blog-third.png">
      <img src="https://assets.econsultancy.com/images/resized/0002/4236/qr_code-blog-third.png">

      <a href="#" target="_blank" class="btn btn-secondary btn-white">Start Playing</a>
    </div>
  </div>
  <!-- Right side of the screen -->
  <div class="col-xs-8 section right">
    <p> somehting </p>
  </div>
</div>