<div class = "full_body row">
    <div class = "col">
        <div class="up_row row">
            <div class="d-flex justify-content-center col">
                <%= @question.name %>
            </div>
        </div>
        


        <div class="down_row row">
            <div class="d-flex justify-content-center col">
                <div class="row" style="align-content: center;">
                    <%= render "game/partials/answers_numbers" %>
                </div>
            </div>
            <div id="button">
                <% if @number.to_i < 5 %>
                    <%= link_to "Next", game_room_path(number: @number.to_i+1), class: "btn gameroom-btn", remote: true %>
                <% else %>
                    <%= link_to "End Game", end_screen_path %>
                <% end %>
            </div>
        </div>
    </div>
</div>