<div class = "full_body row">
    <div class = "col">
        <div class="up_row row">
            <div class="d-flex justify-content-center col">
                <%= @question.name %>
            </div>
        </div>
        


        <div class="down_row row">
            <div class="d-flex justify-content-center col">
                <div class="row" style="align-content: center;">
                    <%= render "game/partials/answers" %>
                </div>
            </div>
                <%= link_to "Answers", final_answer_path(number: @number.to_i), remote: true %>
        </div>
    </div>
</div>

