<div class="main-wrapper row">
  <!-- Left side of the screen --> 
  <div class="col-md-8 section gradient-background">
    <h5> código para entrar na sala </h5>
    <h3> <%= @code %> </h3>
  </div>
  <!-- Right side of the screen -->
  <div class="col-md-4 section white-background">
    <div>
      <%= link_to "Start Game", game_room_path(number: 1), class: "btn gradient-button" %>
    </div>
  </div>
</div>