<div class="main-wrapper row">
  <!-- Left side of the screen --> 
  <div class="col-md-8 section gradient-background">
    <p id="rCode">Room code:</p>
    <p id="room_code">#<%= @code %> </p>
    <img id="qr" src="<%= asset_path('qr.png') %>" />

  </div>
  <!-- Right side of the screen -->
  <div class="col-md-4 section white-background">
    <div>
        <p id="nplayers">Number of players</p>
        <p id="minmax">Min 2 - Max 6</p>
        <%= link_to "Start Game", game_room_path, class: "btn gradient-button" %>
    </div>
  </div>
</div>

