<div class="main-wrapper row">
  <!-- Left side of the screen --> 
  <div class="col-md-8 section left">
    
  </div>
  <!-- Right side of the screen -->
  <div class="col-md-4 section right">
    <div>
      <div class= "half">
        <h3> Download the App </h3>
      </div>
      <div class= "half">
        <img class="image left" src="<%= asset_path('logo.png') %>" />
        <img class="image" class="image" src="https://assets.econsultancy.com/images/resized/0002/4236/qr_code-blog-third.png">
      <div>
    </div>
    <div>
      <a href="/gameroom/create" class="btn gradient-button">Play</a>
    </div>
  </div>
</div>