<div class="main-wrapper row">
  <!-- Left side of the screen --> 
  <div class="col-md-8 section gradient-background">
    
  </div>
  <!-- Right side of the screen -->
  <div class="col-md-4 section white-background">
    <div>
      <div class= "half">
        <h3> Download the App </h3>
      </div>
      <div class= "half">
        <img class="image gradient-background" src="<%= asset_path('logo.png') %>" />
        <img class="image" src="<%= asset_path('qr.png') %>" />
      <div>
    </div>
    <div>
      <a href="/gameroom/create" class="btn gradient-button">Play</a>
    </div>
  </div>
</div>